*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/bg-stars.svg'), url('./images/pattern-hills.svg') no-repeat hsl(234, 17%, 12%) bottom;
    background-size: 100%;
    flex-direction: column;
}

.container {
    height:80vh;
    max-height: 1000px;
    min-height:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.countdown-container {
    margin-top: 60px;
    display: flex;
    align-items: center;justify-content: center;
}

.day, .hour, .minutes, .seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    width:100px;
    margin: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    font-size: 50px;
}

p {
    color: hsl(0, 0%, 65%);
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
}

.social-links {
    margin-top: 350px;
}

.social-links svg {
    margin: 0 12px;
    fill:#8385A9;
    cursor: pointer;
    transition: .5s;
}

.social-links svg:hover {
    fill: hsl(345, 95%, 68%);
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }