*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/bg-stars.svg'), url('./images/pattern-hills.svg') no-repeat hsl(236, 21%, 26%) bottom;
    background-size: 100%;
    flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }